* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 0, 204);
    line-height: 1.5rem;
  }
  
  body {
    background-color: rgba(247, 247, 247, 0.212);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    display: inline;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  header {
    margin-top: 1rem;
  }
  
  .droparea {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 384px;
    max-width: 100%;
    height: 160px;
    border: 4px dashed grey;
    border-radius: 15px;
  }
  
  .droparea i {
    font-size: 3rem;
    flex-grow: 1;
    padding-top: 1rem;
  }
  
  .green-border {
    border-color: green;
  }

  .one {
      color: black;
      
  }

  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
*{font-family: 'Cairo', sans-serif;
margin: 0%;
padding: 0%;
}
.Header{
background-color: rgb(17, 108, 226);
width: 100%;
position: fixed;
z-index: 999;
display: flex;
justify-content: space-between;
align-items: baseline;
padding: 10px 50px;
}
.Logo{
    text-decoration: none;
    text-transform: uppercase;
    color: aquamarine;
    font-size: 1.8em;
}

.Nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: aquamarine;
  font-size: 1em;
  padding-left: 30px;
}